.changePassBtn{
	height: 50px;
	width: 200px;
	background-color:#4472c4;
	color: white;
}
.crAccept{
	height: 50px;
	width: 200px;
	background-color:#4472c4;
	color: white;
}
.crDecline{
	height: 50px;
	width: 200px;
	background-color:white;
	color: black;
}
.AdminMenu{
	height: 50px;
	width: 200px;
	background-color: #595959;
	color: white;
}
.sfilterCancel{
	height: 35px;
	width: 200px;
	background-color: #a5a5a5;
	color: white;
}
.sfilterShow{
	height: 35px;
	width: 130px;
	background-color: #385723;
	color: white;
}
.sfilterSave{
	height: 35px;
	width: 100px;
	background-color: #a5a5a5;
	color: white;
}
.aUploadBtn{
	height: 35px;
	width: 130px;
	background-color: #385723;
	color: white;
}
.aMore{
	height: 35px;
	width: 130px;
	background-color: #385723;
	color: white;
}
.aBatchBtn{
	height: 35px;
	width: 130px;
	background-color: #385723;
	color: white;
}
.aRegUploadBtn{
	height: 35px;
	width: 130px;
	background-color: #385723;
	color: white;
}
.aRegEdit{
	height: 35px;
	width: 130px;
	background-color: #385723;
	color: white;
}
.autoGeneratebtn{
	height: 35px;
	width: 130px;
	background-color: #385723;
	color: white;
}
.crAcceptMobile{
	height: 40px;
	width: 150px;
	background-color:#4472c4;
	color: white;
}
.crDeclineMobile{
	height: 40px;
	width: 150px;
	background-color:white;
	color: black;
}

