.txt{
	width:80%;
	height: 30px;
}
.aUploadTxt
{
	width: 350px;
}
.fName{
	width: 170px;
}
.mInitial{
	width: 50px;
}
.lName{
	width: 170px;
}
.eName{
	width: 130px;
}
.aRegCourse{
	height: 25px;
}
.aRegYear{
	height: 25px;
}
.aRegSection{
	width: 40px;
}
.uNametxt{
	width: 170px;
}
.Passwordtxt{
	width: 170px;
}
.Search{
	width: 400px;
}